<div id="<%= dom_id category %>">
  <div class="mt-2 flex justify-between">
    <div class="flex">
      <%= category.show_name %>
    </div>
    <div class="flex">
      <% if action_name != "show" %>
        <%= link_to "Ver", category, class: "rounded-lg py-2 px-4 bg-gray-50 inline-block font-small" %>
        <%= link_to 'Editar', edit_category_path(category), class: "rounded-lg py-2 ml-2 px-4 bg-red-50 inline-block font-small" %>
        <hr class="mt-6">
      <% end %>
    </div>
  </div>
</div>
